body {
    background-color: #FFFFFF;
}

.navbar-container {
    height: 130px;
    background-color: #FFFFFF;
}

.header-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.title-box {
    text-align: left;
    font-family: 'Anton';
    color: #000000;
    font-weight: 400;
    font-size: 70px;
    line-height: 92.96px;
}

.colored-title {
    color: #EEC373;
}

.parent {
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
    background-color: red;
}
  
.parent > .child {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    background-color: blue;
}

.title-container-2 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    background-color: #E5E5E5;
}

.title-box-2 {
    text-align: left;
    font-family: 'Oxygen';
    color: #000000;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
}

.playground {
    background-color: #282828;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 40px;
}

.skew {
    /* height: 50vh; */
    width: 100%;
    /* clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 0px 100%); */
    background: #FFFFFF;
}

.left-aligned {
    text-align: left;
    color: #928787;
    font-family: 'Lato';
    margin-top: 20px;
}

.left-aligned-2 {
    padding-left: 10%;
}

.box {
    height: 100px;
}

.left-aligned2 {
    text-align: left;
    color: #928787;
    font-family: 'Lato';
    margin-top: 15px;
    width: 60%;
}

.title-container-3 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #F4D19B;
}

.footer {
    /* height: 200px; */
    padding-bottom: 15px;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    flex: 1 1 1;
}

.title-box-3 {
    color: #FFFFFF;
}

.line {
    margin-right: 30%; /* 500px; */
    width: 50%;
}

.title-box-4 {
    font-family: 'Anton';
    color: #FDFCE5;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
}

.model-box {
    background-image: url("../images/model.png");
    width: 100%;
    aspect-ratio: 1 / 1;
    font-family: 'Roboto';
    color: #FDFCE5;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 60px;
}

.model-container {
    width: 30%;
}

.margin {
    height: 80px;
}

.mic-button {
    background: none;
    color: inherit;
	border: none;
}

.margin-2 {
    height: 150px;
}

.form-box {
    text-align: left;
}

.label-box {
    font-family: 'Anton';
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}

.input-box {
    font-family: 'Anton';
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.input-text {
    width: 80%;
    border-radius: 25px;
    height: 40px;
}

.captcha-box {
    margin-bottom: 10px;
}

.button-submit {
    background: none;
    color: inherit;
	border: none;
}

.button-box {
    margin-bottom: 10px;
    text-align: right;
    font-family: 'Lato';
    color: #000000;
    font-size: 18px;
    line-height: 20px;
}

  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  .store {
    width: 200px;
    height: 60px;
    margin: 5px;
}

div.absolute {
    position: absolute;
    top: 0px;
    right: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
  }
  
.navbar-container {
    /* position: fixed; */
    /* width: 100%; */
}

.demo-button {
    background-color: #F4D19B;
    border: none;
    border-radius: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    right: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    width: 40%;
    
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
  }
  
  .item8 {
    grid-area: 1 / 2 / 5 / 6;
    padding-top: 60px;
  }
  
  .item3 {
    font-size: 17px;
    line-height: 20px;
  }
  
  
  .right-aligned {
    text-align: right;
}

.margined {
    width: 80%;
    margin: auto;
}

.demo-container-1 {
    background-color: #DAA264;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.skewed-1 {
    /* position: relative;
    top: 0;
    left: 0;
    right: 0; */
    width: 100%;
    border-width:  0 0 100px 2000px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}

.title-box-2 {
    text-align: left;
    font-family: 'Anton';
    color: #000000;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
}

.demo-container-2 {
    background-color: #F4D19B;
}

.demo-container-3 {
    background-color: #F4DFBA;
}

.title-box-3 {
    text-align: center;
}

.lang-container {
    padding-top: 50px;
    padding-left: 20px;
    
}

.white-text {
    color: white;
    display: inline;
}

.me-auto {
   display: flex;
   justify-content: space-between;
   width: 70%;
   color: black;
   font-family: 'Roboto';
}

div.absolute-2 {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
  }
  
.works-title-container-margin {
    margin-left: 8%;  
}

.works-title-container {
    /* margin-left: 8%;   */
    background-image: url("../images/cir2.png");
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.play-background {
    background-image: url("../images/cir3.png");
    background-repeat: no-repeat;
    /* height: 100px; */
    background-size: 90px;
    height: 120px;
    width: 120px;
}

.title-box-5 {
    text-align: left;
    font-family: 'Oxygen';
    color: #000000;
    /* font-weight: 100; */
    font-size: 45px;
    line-height: 65px;
}

/* .relative {
    background-image: url("../images/model.png");
    position: relative;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
  } */
  
.margin-3 {
    margin: 20px;
}

.desinged-box {
    text-align: center;
    vertical-align: middle;
    width:100%;
}

.social-media-icon {
    margin: 10px;
}

.padding-top {
    padding-top: 30px;
}

.zoom:hover {
    transform: scale(1.15);
}

.zoom2:hover {
    transform: scale(1.05);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  .typed-out{
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    /* font-size: 1.6rem; */
    width: 0;
    animation: typing 3s forwards;
}


/*













*/
@font-face {
    font-family: 'Ebtekar';
    src: url('../../fonts/ebtekar.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'IranSans';
    src: url('../../fonts/iran_sans.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Sadgan';
    src: url('../../fonts/sadgan_medium.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.iranSans {
    font-family: "IranSans";
}

.ebtekar {
    font-family: "Ebtekar";
}

.sadgan {
    font-family: "Sadgan";
}

.container-fa {
    direction: ltr;
    float: left;
    font-family: "Sadgan";
}

.title-box-fa {
    text-align: right;
    font-family: "Ebtekar";
    font-size: 65px;
}

.grid-container-fa {
    text-align: right;
    font-family: "Sadgan";
    font-size: 30px;
}

.works-title-container-margin-fa {
    margin-right: 8%;  
}

.title-box-5-fa {
    text-align: right;
    font-family: 'Sadgan';
}

.works-title-container-fa {
    margin-right: 8%;  
    direction: ltr;
    margin-left: 1480px;
}

.title-box-2-fa {
    text-align: center;
    font-family: 'Ebtekar';
}

.left-aligned-fa {
    text-align: center;
    font-family: 'IranSans';
}

.playground-fa {
    text-align: right;
}

.play-background-fa {
    margin-left: auto; 
    margin-right: 0;
    font-family: 'Sadgan';
}

.line-fa {
    margin-right: 20%; /* 500px; */
    width: 50%;
}

.title-box-4-fa {
    font-family: 'Sadgan';
}

.model-box-fa {
    font-family: 'IranSans';
}

.mic-button-fa {
}

.mic-box-fa {
    width: 100%;
    text-align: center;
}

.right-aligned-fa {
    text-align: left;
    font-family: 'IranSans';
}

.title-box-6-fa {
    font-family: 'Sadgan';
}

.left-aligned-fa {
    text-align: right;
    font-family: 'IranSans';
}

.left-aligned2-fa {
    text-align: right;
    font-family: 'IranSans';
}

.label-box-fa {
    font-family: 'IranSans';
}

.works-title-container-fa {
    /* border-style: solid; */
}

.title-container {
    /* border-style: solid; */
}

/*













*/

.display-none {
    display: none;
}

@media only screen and (max-width: 1320px) {

    #text-logo {
        display: block;
    }
    
    #image-logo {
        display: block;
    }
    
    
    .title-container {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }
    
    #image-logo {
        order: 2;
    }
    #text-logo {
        order: 1;
        text-align: center;
    }
    #class-logo {
        order: 3;
    }
    /* #navbar-logo {
        display: none;
    } */
    .title-box {
        font-weight: 200;
        font-size: 40px;
        line-height: 62.96px;
    }
    #text-logo-p {
        display: none;
    }
    
    .colored-title {
        display: inline;
    }
    
    .title-box-fa {
        font-family: "Sadgan";
    }
    
    .left-aligned {
        text-align: center;
    }
    
    .demo-container-1 {
        text-align: center;
    }
    
    .demo-container-2 {
        text-align: center;
    }
    
    .demo-1 {
        margin-right: 10%;
    }
    
    .demo-2 {
        margin-left: 15%;
    }
    
    .demo-3 {
        margin-right: 15%;
    }
    
    .demo-button {
        display: none;
    }
    
    .model-container {
        width: 95%;
    }
}